@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.carrito {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 100;
}

.carrito:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.carrito #carrito {
  display: none;
  position: absolute;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

.carrito:hover #carrito {
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: fit-content;
  min-width: 428px;
  width: fit-content;
  top: 100%;
  right: 0;
  left: unset;
  margin-left: unset;
  margin-right: unset;
  border-radius: 18px;
}

#carrito .btn-danger {
  font-size: 10px;
  border-radius: 50%;
  padding: 5px 9px;
}

#carrito .btn-dark {
  padding: 0 2px;
  margin: 0 3px;
}

.img-shadow-effect {
  filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.75));
}

.text-shadow-effect {
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.75);
}

.btn-home:hover {
  filter: drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.5));
}
